h2, h3 {
    margin: 24px;
}

.demo-slider-group { 
    display: flex;
    align-items: center;
}
.demo-slider-group .mdl-slider__container { flex: 1}

.demo-card-image.mdl-card {
    background-size: cover;
    background-position: center;
}
.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.demo-card-image .mdl-card--expand:after {
    content: '';
    padding-top: 75%;
}
.demo-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.demo-image-grid {
    max-width: 900px;
}

.demo-image-canvas {
    height: 400px; 
    background: whitesmoke
}

.demo-select {
    border: none;
    padding: 6px 8px;
    appearance: none;
    -webkit-appearance: none;
    width: 100px;

    text-align-last:center;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-size: 16px;
    background-position: calc(100% - 4px);
    background-repeat: no-repeat;
}

.demo-select--left {
    margin-left: -75px;
}

.demo-select--icon .icon {
    display: none;    
    position: relative;
}

.demo-select--icon .icon::after {
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-size: 16px;
    background-position: calc(100% - 4px);
    background-repeat: no-repeat;

    width: 16px;
    height: 16px;

    display: block;
    position: absolute;
    top: 4px;
    right: -20px;
}

@media screen and (max-width: 480px) {
    .demo-select--icon {
        position: relative;
    }

    .demo-select--icon .icon {
        display: block;
    }

    .demo-select--left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 0;
        opacity: 0;
    }
}

.demo-input-group {
    padding: 0 26px;
}

.demo-input-group__item + .demo-input-group__item {
    margin-left: 20px;
}

.fab-menu {
    overflow: visible;
}

.fab-menu__container {
    transform: translateY(-100%);
    margin: 0;
    padding: 12px;

    color: black;
    float: right;

    list-style: none;
    display: none;
}

.fab-menu:hover .fab-menu__container {
    display: block;
}

.fab-menu__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .6em;
    transition: all .2s;
}

.fab-menu__item:hover {
    font-weight: bold;
}

.fab-menu__item + .fab-menu__item {
    margin-top: 10px;
}

.fab-menu__item_icon {
    width: 30px;
    height: 30px;
    position: relative;
    background-color: whitesmoke;
    border-radius: 50%;
    margin-left: 6px;
}

.fab-menu__item_icon .icon {
    font-size: 16px;
}

.file-upload-wrapper input {
    display: none;
}

.file-upload-wrapper {
    display: flex;
    cursor: pointer;
}